<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Akikah - Mumu App</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="rizzkijo/rizzkijo.css" rel="stylesheet">
  <link href="vendor/owl-carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/owl-carousel/owl.theme.default.min.css" rel="stylesheet">

  <link rel="icon" href="img/logo-symbol.svg" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/solid.css">

</head>

<body class="pb-0">

  <div class="wrapper">
    <!-- Navigation -->
    <div class="top-bar bg-main">
      <a class="back-link" href="#" id="backLink">
        <i class="uil uil-angle-left"></i>
      </a>
      <span class="page-title">Akikah</span>
    </div>

    <img src="https://mumuapps.id/assets/mumuapps/img/festivalakikah.jpeg" class="mb-0">

    <div class="content bg-white">
      <div class="title text-center">Kenapa Akikah di MumuApps?</div>
      <div class="row">
        <div class="col-6">
          <div class="text-center mb-24">
            <img src="img/syariah.svg" class="img-kenapa">
            <div class="medium">Sesuai Syariah</div>
            <div class="text-muted mt-4">
              Kambing atau domba yang disalurkan memenuhi kriteria hewan akikah.
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="text-center mb-24">
            <img src="img/terjangkau.svg" class="img-kenapa">
            <div class="medium">Harga Terjangkau</div>
            <div class="text-muted mt-4">
              Harga hewan akikah yang terjangkau dengan kualitas kemasan makanan yang baik.
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="text-center">
            <img src="img/tepatsasaran.svg" class="img-kenapa">
            <div class="medium">Tepat Sasaran</div>
            <div class="text-muted mt-4">
              Akikah akan disalurkan kepada saudara kita yang benar-benar membutuhkan di daerah pelosok dan daerah rawan gizi/bencana.
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="text-center">
            <img src="img/transparan.svg" class="img-kenapa">
            <div class="medium">Transparan</div>
            <div class="text-muted mt-4">
              Update dan laporan lengkap setelah pemotongan dan penyaluran hewan akikah.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content bg-white mt-8">
      <div class="title text-center">Pilih Mitra</div>

      <div class="row">
        <div class="col-3">
          <a href="akikah-lanjutan.html" class="main-menu-link">
            <img src="img/baznas.png">
            <span>Baznas</span>
          </a>
        </div>
        <div class="col-3">
          <a href="akikah-lanjutan.html" class="main-menu-link">
            <img src="img/dompetdhuafa.png">
            <span>Dompet Dhuafa</span>
          </a>
        </div>
        <div class="col-3">
          <a href="akikah-lanjutan.html" class="main-menu-link">
            <img src="img/act-full.png">
            <span>ACT</span>
          </a>
        </div>
        <div class="col-3">
          <a href="akikah-lanjutan.html" class="main-menu-link">
            <img src="img/rumahyatim-full.png">
            <span>Rumah Yatim</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="rizzkijo/rizzkijo.js"></script>

  <script type="text/javascript">
    $('.program').owlCarousel({
      stagePadding: 40,
      loop: false,
      margin: 20,
      nav: false,
      responsive: {
        0:{
          items:1
        },
        600:{
          items:1
        },
        1000:{
          items:1
        }
      }
    })

    $('.promo').owlCarousel({
      stagePadding: 40,
      loop: true,
      margin: 20,
      nav: false,
      responsive: {
        0:{
          items:1
        },
        600:{
          items:1
        },
        1000:{
          items:1
        }
      }
    })

    $('.berita').owlCarousel({
      stagePadding: 40,
      loop: false,
      margin: 20,
      nav: false,
      responsive: {
        0:{
          items:1
        },
        600:{
          items:1
        },
        1000:{
          items:1
        }
      }
    })

    $('.tokomu-wrapper').owlCarousel({
      stagePadding: 40,
      loop: false,
      margin: 20,
      nav: false,
      responsive: {
        0:{
          items:2
        },
        600:{
          items:2
        },
        1000:{
          items:2
        }
      }
    })
  </script>

</body>

</html>
