<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Beranda - Mumu App</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="rizzkijo/rizzkijo.css" rel="stylesheet">
  <link href="vendor/owl-carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/owl-carousel/owl.theme.default.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/solid.css">

</head>

<body>

  <div class="wrapper">
    <!-- Navigation -->
    <div class="top-bar bg-main">
      <div class="row">
        <div class="col-2">
          <a class="brand" href="index.html">
            <img src="img/logo-symbol-white.svg" alt="Mumu Apss">
          </a>
        </div>
        <div class="col-8">
          <div class="search-box">
            <i class="uil uil-search search-icon"></i>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </div>
        <div class="col-2 text-right">
          <a href="#"><i class="uil uil-question-circle right-icon"></i></a>
        </div>
      </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide main-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="#" class="bg-slider" style="background:#999999 url(https://mumuapps.id/assets/images/slider/image_20200713011006.jpg)no-repeat center / cover;">

          </a>
        </div>
        <div class="carousel-item">
          <a href="#" class="bg-slider" style="background:#999999 url(https://mumuapps.id/assets/images/slider/image_20200820071850.jpg)no-repeat center / cover;">

          </a>
        </div>
        <div class="carousel-item">
          <a href="#" class="bg-slider" style="background:#999999 url(https://mumuapps.id/assets/images/slider/image_20200821074409.jpg)no-repeat center / cover;">

          </a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="content bg-white">
      <div class="dompet-box">
        <div class="row">
          <div class="col-7">
            <div class="title">Dompet Elektronik</div>
          </div>
          <div class="col-5 text-right">
            <a class="color-main" id="edomlain-box"><span id="edomlain">Lainnya</span> <i class="uil uil-angle-down"></i></a>
          </div>
        </div>
        <div class="dompet-inner">
          <div class="user-img" style="background:rgb(0 0 0 / .16) url(https://images.unsplash.com/photo-1499996860823-5214fcc65f8f)no-repeat center / cover;"></div>
          <div class="dompet-inner-detail">
            <div class="dompet-item">
              <div class="dompet-img" style="background:#ffffff url(img/link-aja.png)no-repeat center center / contain;"></div>
              <div class="dompet-item-detail">
                <div class="bold">Rp 124.430</div>
                <div class="text-small text-muted">Bonus Rp 0</div>
                <div class="topup-box"><a href="#" class="btn btn-sm btn-outline"><span><i class="uil uil-upload-alt"></i> Top Up</span></a></div>
              </div>
            </div>
            <div class="dompet-item">
              <div class="dompet-img" style="background:#ffffff url(img/finpay.png)no-repeat center center / contain;"></div>
              <div class="dompet-item-detail">
                <div class="bold">Rp 250.000</div>
                <div class="text-small text-muted">Bonus Rp 100.000</div>
                <div class="topup-box"><a href="#" class="btn btn-sm btn-outline"><span><i class="uil uil-upload-alt"></i> Top Up</span></a></div>
              </div>
            </div>
            <div class="dompet-item">
              <div class="dompet-img" style="background:#ffffff url(img/visa-mc.png)no-repeat center center / contain;"></div>
              <div class="dompet-item-detail valign-wrapper">
                <div class="valign-box">
                  <a href="#" class="btn btn-sm btn-outline"><span><i class="uil uil-link-alt"></i> Hubungkan</span></a>
                </div>
              </div>
            </div>
            <div class="dompet-item">
              <a href="#" class="btn btn-main btn-block"><span><i class="uil uil-plus"></i> Tambah Dompet Elektronik</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="title">Layanan</div>
      <div class="row">
        <div class="col-3">
          <a href="pulsa.html" class="main-menu-link mb-20">
            <img src="img/icons/smartphone.svg">
            <span>Pulsa</span>
          </a>
        </div>
        <div class="col-3">
          <a href="listrik.html" class="main-menu-link mb-20">
            <img src="img/icons/listrik.svg">
            <span>Listrik</span>
          </a>
        </div>
        <div class="col-3">
          <a href="telkom.html" class="main-menu-link mb-20">
            <img src="img/icons/phone.svg">
            <span>Telkom</span>
          </a>
        </div>
        <div class="col-3">
          <a href="wakaf.html" class="main-menu-link mb-20">
            <img src="img/icons/wakaf.svg">
            <span>Wakaf</span>
          </a>
        </div>
        <div class="col-3">
          <a href="donasi.html" class="main-menu-link">
            <img src="img/icons/donasi.svg">
            <span>Donasi</span>
          </a>
        </div>
        <div class="col-3">
          <a href="kurban.html" class="main-menu-link">
            <img src="img/icons/kurban.svg">
            <span>Kurban</span>
          </a>
        </div>
        <div class="col-3">
          <a href="proteksi.html" class="main-menu-link">
            <img src="img/icons/proteksi.svg">
            <span>Proteksi</span>
          </a>
        </div>
        <div class="col-3">
          <a href="lainnya.html" class="main-menu-link">
            <img src="img/icons/lainnya.svg">
            <span>Lainnya</span>
          </a>
        </div>
      </div>
    </div>

    <div class="content bg-white mt-8">
      <div class="title">Lembaga</div>
      <ul class="lembaga-wrapper">
        <li>
          <a href="#" class="active">Semua</a>
        </li>
        <li>
          <a href="#">
            <img src="img/dompetdhuafa.png"> Dompet Dhuafa
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/baznas.png"> Baznas
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/rumahyatim.png"> Rumah Yatim
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/act.png"> ACT
          </a>
        </li>
        <li>
          <a href="#">
            <img src="img/rombongsedekah.png"> Rombong Sedekah
          </a>
        </li>
      </ul>

      <div class="title mt-32">Program Wakaf</div>
      <div class="owl-carousel owl-theme program">
        <div class="item">
          <a href="program-detail.html" class="pendanaan-wrapper">
            <div class="dana-flyer" style="background:url(https://images.pexels.com/photos/3651632/pexels-photo-3651632.jpeg)no-repeat center / cover;">
              <div class="penggalang">
                <div class="penggalang-img" style="background-image:url(https://mumuapps.id/assets/images/admprofil/image_202006241011282828.jpg);"></div>
                <div class="penggalang-text">
                  <div class="text-small">Program pendanaan dari</div>
                  <div class="text-smaller medium lh-n"> DD Volunteer <span class="ml-8"><i class="uil uil-check"></i> <span class="text-small regular">Terverifikasi</span></span></div>
                </div>
              </div>
            </div>
            <div class="medium mt-12 mb-12">Bantu Ketuk Pintu Tetangga</div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div>
            </div>
            <div class="row mt-4">
              <div class="col-7">
                Rp 244.473.437
              </div>
              <div class="col-5 text-right">
                45 hari lagi
              </div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="program-detail.html" class="pendanaan-wrapper">
            <div class="dana-flyer" style="background:url(https://images.pexels.com/photos/3651632/pexels-photo-3651632.jpeg)no-repeat center / cover;">
              <div class="penggalang">
                <div class="penggalang-img" style="background-image:url(https://mumuapps.id/assets/images/admprofil/image_202006241011282828.jpg);"></div>
                <div class="penggalang-text">
                  <div class="text-small">Program pendanaan dari</div>
                  <div class="text-smaller medium lh-n"> DD Volunteer <span class="ml-8"><i class="uil uil-check"></i> <span class="text-small regular">Terverifikasi</span></span></div>
                </div>
              </div>
            </div>
            <div class="medium mt-12 mb-12">Bantu Ketuk Pintu Tetangga</div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div>
            </div>
            <div class="row mt-4">
              <div class="col-7">
                Rp 244.473.437
              </div>
              <div class="col-5 text-right">
                45 hari lagi
              </div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="program-detail.html" class="pendanaan-wrapper">
            <div class="dana-flyer" style="background:url(https://images.pexels.com/photos/3651632/pexels-photo-3651632.jpeg)no-repeat center / cover;">
              <div class="penggalang">
                <div class="penggalang-img" style="background-image:url(https://mumuapps.id/assets/images/admprofil/image_202006241011282828.jpg);"></div>
                <div class="penggalang-text">
                  <div class="text-small">Program pendanaan dari</div>
                  <div class="text-smaller medium lh-n"> DD Volunteer <span class="ml-8"><i class="uil uil-check"></i> <span class="text-small regular">Terverifikasi</span></span></div>
                </div>
              </div>
            </div>
            <div class="medium mt-12 mb-12">Bantu Ketuk Pintu Tetangga</div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div>
            </div>
            <div class="row mt-4">
              <div class="col-7">
                Rp 244.473.437
              </div>
              <div class="col-5 text-right">
                45 hari lagi
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="title mt-32">Program Donasi</div>
      <div class="owl-carousel owl-theme program">
        <div class="item">
          <a href="program-detail.html" class="pendanaan-wrapper">
            <div class="dana-flyer" style="background:url(https://images.pexels.com/photos/3651632/pexels-photo-3651632.jpeg)no-repeat center / cover;">
              <div class="penggalang">
                <div class="penggalang-img" style="background-image:url(https://mumuapps.id/assets/images/admprofil/image_202006241011282828.jpg);"></div>
                <div class="penggalang-text">
                  <div class="text-small">Program pendanaan dari</div>
                  <div class="text-smaller medium lh-n"> DD Volunteer <span class="ml-8"><i class="uil uil-check"></i> <span class="text-small regular">Terverifikasi</span></span></div>
                </div>
              </div>
            </div>
            <div class="medium mt-12 mb-12">Bantu Ketuk Pintu Tetangga</div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div>
            </div>
            <div class="row mt-4">
              <div class="col-7">
                Rp 244.473.437
              </div>
              <div class="col-5 text-right">
                45 hari lagi
              </div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="program-detail.html" class="pendanaan-wrapper">
            <div class="dana-flyer" style="background:url(https://images.pexels.com/photos/3651632/pexels-photo-3651632.jpeg)no-repeat center / cover;">
              <div class="penggalang">
                <div class="penggalang-img" style="background-image:url(https://mumuapps.id/assets/images/admprofil/image_202006241011282828.jpg);"></div>
                <div class="penggalang-text">
                  <div class="text-small">Program pendanaan dari</div>
                  <div class="text-smaller medium lh-n"> DD Volunteer <span class="ml-8"><i class="uil uil-check"></i> <span class="text-small regular">Terverifikasi</span></span></div>
                </div>
              </div>
            </div>
            <div class="medium mt-12 mb-12">Bantu Ketuk Pintu Tetangga</div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div>
            </div>
            <div class="row mt-4">
              <div class="col-7">
                Rp 244.473.437
              </div>
              <div class="col-5 text-right">
                45 hari lagi
              </div>
            </div>
          </a>
        </div>
        <div class="item">
          <a href="program-detail.html" class="pendanaan-wrapper">
            <div class="dana-flyer" style="background:url(https://images.pexels.com/photos/3651632/pexels-photo-3651632.jpeg)no-repeat center / cover;">
              <div class="penggalang">
                <div class="penggalang-img" style="background-image:url(https://mumuapps.id/assets/images/admprofil/image_202006241011282828.jpg);"></div>
                <div class="penggalang-text">
                  <div class="text-small">Program pendanaan dari</div>
                  <div class="text-smaller medium lh-n"> DD Volunteer <span class="ml-8"><i class="uil uil-check"></i> <span class="text-small regular">Terverifikasi</span></span></div>
                </div>
              </div>
            </div>
            <div class="medium mt-12 mb-12">Bantu Ketuk Pintu Tetangga</div>
            <div class="progress" style="height: 8px;">
              <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div>
            </div>
            <div class="row mt-4">
              <div class="col-7">
                Rp 244.473.437
              </div>
              <div class="col-5 text-right">
                45 hari lagi
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="title mt-32">Promo & Peristiwa</div>
      <div class="owl-carousel owl-theme promo">
        <div class="item">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSetywIBlzm4YpJhL3PId-026FTPbGiUm0_ctpsxpGArMFoXiw/viewform" class="promo-peristiwa-wrapper">
            <img src="https://mumuapps.id/assets/images/articles/image_20200814112750.jpg">
          </a>
        </div>
        <div class="item">
          <a href="https://youtu.be/LIzoeS6jq1s" class="promo-peristiwa-wrapper">
            <img src="https://mumuapps.id/assets/images/articles/image_20200824050843.jpg">
          </a>
        </div>
      </div>

      <div class="row mt-32">
        <div class="col-7">
          <div class="title">Berita</div>
        </div>
        <div class="col-5 text-right">
          <a href="berita.html">Lihat Semua</a>
        </div>
      </div>
      <div class="owl-carousel owl-theme berita">
        <div class="item">
          <div class="berita-wrapper">
            <div class="dana-flyer berita-flyer" style="background:url(https://znews.id/wp-content/uploads/2020/07/20200723_153513-324x235.jpg)no-repeat center / cover;">
              <div class="penggalang berita-text">
                109 Dokter Meninggal akibat Corona, Tertinggi di Jawa Timur
              </div>
            </div>
            <div class="author-box mt-12">
              <div class="text-smaller medium"><img src="img/dompetdhuafa.png" class="mr-4"> Dompet Dhuafa</div>
              <div class="text-smaller mt-4"><i class="uil uil-calendar-alt mr-4"></i> 12 September 2020</div>
            </div>
            <div class="text-muted mt-12">
              DOMPETDHUAFA.COM JAKARTA - Tim Mitigasi Pengurus Besar Ikatan Dokter In...
            </div>
            <a href="detail-berita.html" class="btn btn-main btn-block mt-12">Baca selengkapnya</a>
          </div>
        </div>
        <div class="item">
          <div class="berita-wrapper">
            <div class="dana-flyer berita-flyer" style="background:url(https://znews.id/wp-content/uploads/2020/09/20200903_220202-324x235.jpg)no-repeat center / cover;">
              <div class="penggalang berita-text">
                Erick Thohir: Operasi Yustisi agar Masyarakat Disiplin Jalankan Protokol Kesehatan
              </div>
            </div>
            <div class="author-box mt-12">
              <div class="text-smaller medium"><img src="img/baznas.png" class="mr-4"> Baznas</div>
              <div class="text-smaller mt-4"><i class="uil uil-calendar-alt mr-4"></i> 12 September 2020</div>
            </div>
            <div class="text-muted mt-12">
              BAZNAS JAKARTA - Menteri BUMN sekaligus Ketua Pelaksana Komite Penanganan Cov...
            </div>
            <a href="detail-berita.html" class="btn btn-main btn-block mt-12">Baca selengkapnya</a>
          </div>
        </div>
        <div class="item">
          <div class="berita-wrapper">
            <div class="dana-flyer berita-flyer" style="background:url(https://znews.id/wp-content/uploads/2020/06/20200630_195857-324x235.jpg)no-repeat center / cover;">
              <div class="penggalang berita-text">
                Menag: Umat yang Tinggal di Zona Merah Beribadah di Rumah
              </div>
            </div>
            <div class="author-box mt-12">
              <div class="text-smaller medium"><img src="img/act.png" class="mr-4"> ACT</div>
              <div class="text-smaller mt-4"><i class="uil uil-calendar-alt mr-4"></i> 12 September 2020</div>
            </div>
            <div class="text-muted mt-12">
              ACT JAKARTA - Kasus positif Covid-19 di beberapa wilayah mengalami peningkatan...
            </div>
            <a href="detail-berita.html" class="btn btn-main btn-block mt-12">Baca selengkapnya</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-navigation">
    <div class="wrapper">
      <div class="row">
        <div class="col text-center">
          <a href="index.html" class="link-block active">
            <i class="uil uil-home-alt icon-nav"></i>
            <span class="icon-text">Beranda</span>
          </a>
        </div>
        <div class="col text-center">
          <a href="riwayat.html" class="link-block">
            <i class="uil uil-history icon-nav"></i>
            <span class="icon-text">Riwayat</span>
          </a>
        </div>
        <div class="col text-center relative-box">
          <a href="pindai.html" class="link-block">
            <i class="uil uil-qrcode-scan icon-nav main-icon-nav bg-main"></i>
            <span class="icon-text">Bayar</span>
          </a>
        </div>
        <div class="col text-center">
          <a href="notifikasi.html" class="link-block">
            <i class="uil uil-envelope icon-nav relative-box">
              <div class="notif-indicator"></div>
            </i>
            <span class="icon-text">Notifikasi</span>
          </a>
        </div>
        <div class="col text-center">
          <a href="profil.html" class="link-block">
            <i class="uil uil-user icon-nav"></i>
            <span class="icon-text">Profil</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="rizzkijo/rizzkijo.js"></script>

  <script type="text/javascript">
    $('.program').owlCarousel({
      stagePadding: 40,
      loop: false,
      margin: 20,
      nav: false,
      responsive: {
        0:{
          items:1
        },
        600:{
          items:1
        },
        1000:{
          items:1
        }
      }
    })

    $('.promo').owlCarousel({
      stagePadding: 40,
      loop: true,
      margin: 20,
      nav: false,
      responsive: {
        0:{
          items:1
        },
        600:{
          items:1
        },
        1000:{
          items:1
        }
      }
    })

    $('.berita').owlCarousel({
      stagePadding: 40,
      loop: false,
      margin: 20,
      nav: false,
      responsive: {
        0:{
          items:1
        },
        600:{
          items:1
        },
        1000:{
          items:1
        }
      }
    })
  </script>

</body>

</html>
