<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Zakat - Mumu App</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="rizzkijo/rizzkijo.css" rel="stylesheet">
  <link href="vendor/owl-carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="vendor/owl-carousel/owl.theme.default.min.css" rel="stylesheet">

  <link rel="icon" href="img/logo-symbol.svg" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/solid.css">

</head>

<body>

  <div class="wrapper bg-white">
    <!-- Navigation -->
    <div class="top-bar bg-main">
      <a class="back-link" href="#" id="backLink">
        <i class="uil uil-angle-left"></i>
      </a>
      <span class="page-title">Zakat</span>
    </div>

    <div class="content bg-white">
      <form>
        <div class="form-group">
          <label>Jenis Zakat</label>
          <select class="custom-select">
            <option value="">Zakat Fitrah (Ramadhan)</option>
            <option value="">Zakat Harta (Setahun sekali)</option>
          </select>
        </div>
        <div class="form-group">
          <label>Donatur</label>
          <input type="text" class="form-control" value="Profile Name">
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="utk-org">
            <label class="custom-control-label" for="utk-org">Saya menunaikan zakat untuk orang lain</label>
          </div>
        </div>
        <div class="untuk-org">
          <div class="bg-darker pt-20 pr-20 pb-20 pl-20 mb-16">
            <div class="form-group">
              <label>Nama</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>No. Ponsel</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Nominal Zakat</label>
          <input type="text" class="form-control" placeholder="Masukkan nominal atau klik icon di bawah">
        </div>
        <div class="row">
          <div class="col-6">
            <div class="nominnal-zakat mb-12">
              Rp 10.000
            </div>
          </div>
          <div class="col-6">
            <div class="nominnal-zakat mb-12">
              Rp 20.000
            </div>
          </div>
          <div class="col-6">
            <div class="nominnal-zakat selected">
              Rp 50.000
            </div>
          </div>
          <div class="col-6">
            <div class="nominnal-zakat">
              Rp 100.000
            </div>
          </div>
        </div>
        <div class="text-center mt-24">
          <a href="proses-zakat.html" class="btn btn-main btn-block"><span><i class="uil uil-check"></i> Proses</span></a>
        </div>
      </form>
    </div>
  </div>

  <div class="main-navigation">
    <div class="wrapper">
      <div class="row">
        <div class="col text-center">
          <a href="index.html" class="link-block">
            <i class="uil uil-home-alt icon-nav"></i>
            <span class="icon-text">Beranda</span>
          </a>
        </div>
        <div class="col text-center">
          <a href="riwayat.html" class="link-block">
            <i class="uil uil-history icon-nav"></i>
            <span class="icon-text">Riwayat</span>
          </a>
        </div>
        <div class="col text-center relative-box">
          <a href="pindai.html" class="link-block">
            <i class="uil uil-qrcode-scan icon-nav main-icon-nav bg-main"></i>
            <span class="icon-text">Bayar</span>
          </a>
        </div>
        <div class="col text-center">
          <a href="notifikasi.html" class="link-block">
            <i class="uil uil-envelope icon-nav relative-box">
              <div class="notif-indicator"></div>
            </i>
            <span class="icon-text">Notifikasi</span>
          </a>
        </div>
        <div class="col text-center">
          <a href="profil.html" class="link-block">
            <i class="uil uil-user icon-nav"></i>
            <span class="icon-text">Profil</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/owl-carousel/owl.carousel.min.js"></script>
  <script src="rizzkijo/rizzkijo.js"></script>

</body>

</html>
